.login{
    position: absolute;
    top: 53%;
    left: 47%;
    margin-top: -130px;
    margin-left: -60px;
    width: 150px;
    height: 150px;
}

.logintext h1{
    color: red
}

.login h1{
    color: blue
}

.loggedin h1{
    color: green
}